@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";



*
{
	margin: 0px;
	padding: 0px;
	 font-family: sans-serif; 
}

.hero
{
	height:100%;
	width: 100%;
	background: linear-gradient(90deg,#3498db,#9b59b6);
	background position : center;
	background-size: cover;
	position: absolute;

}
.formbox
{

	width: 380px;
	height: 480px;
	position: relative;
	margin: 6% auto;
	background:#fff;
	padding:5px ; 
	overflow: hidden;
}

.buttonbox
{

		width: 220px;
		margin: 35px auto;
		position: relative;
		
		border-radius: 30px;
}
.togglebtn
{
	padding: 10px 30px;
	cursor: pointer;
	background: transparent;
	border : 0px;
	outline: none;
	position: relative;
	

}

#btn
{

		top: 0;
		left: 0;
		position: absolute;
		width: 110px;
		height:100%;
		background: linear-gradient(to right,#3498db,#9b59b6);
		border-radius: 30px;
		transition: 0.5s;

}
.socialicon
{	

	margin: 30px auto;
	text-align: center;

}

.socialicon i
{
	color:blue;
	width: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	height: 20px;
	margin: 0 12px;
	box-shadow: 0 0 20px #fff ;
	cursor: pointer;
	border-radius: 30px;

}
.socialicon i:hover
{	font-size: 40px;
	color :black;
}

.input
{

	top:180px;
	position: absolute;
	width: 280px;
	transition: 0.5s;

}
.inputfile
{

	width: 100%;
	padding: 10px 0;
	margin: 5px 0;
	border-top: 0;
	border-right: 0;
	border-left:0;
	border-bottom: 1.5px solid #3498db;
	outline: none;
	color:#30336b;
	font-size: 15px;
	background : none; 
	  
}
.inputfile:focus
{
	border-bottom: 2px solid #9b59b6 ;
}
.sumbitbtn
{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin:auto;
	background: linear-gradient(to right,#3498db,#9b59b6);
	border :0;
	outline: none;
	border-radius: 30px;
	transition: 0.25s;

}
.sumbitbtn:hover
{
	background: linear-gradient(90deg,#9b59b6,#3498db);;
}
.checkbox
{
	margin: 30px 10px 30px 0;


}
span{
	color: #777;
	font-size: 12px;
	bottom:68px;
	position: absolute;
}
#login
{
	left:50px;

}
#register
{
	left:450px;

}